body{
  margin: 0;
}
//虚线
.hr-dashed{
  background: linear-gradient(to right, transparent 0%, transparent 25%,#b3afac 25%,#afadaa 50%);
  background-size: 15px 1px;
  background-repeat: repeat-x;
  height: 5px;
  margin: 5px 0;
}


//基本
a{
  color: var(--skin);
}
a.no-decoration{
  text-decoration: none;
}
p{
  margin: 5px 0;
}
mark {
  background: #FFE300;
  padding: 1px;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

//额外
.left{
  float: left;
}
.right{
  float: right;
}
.clearfix{
  clear:both;
  height:0;
  overflow:hidden;
}

.CodeMirror-matching-topic{
  background: var(--skin-info);
  color: var(--skin-font);
  //text-decoration: underline;
  cursor: pointer;
}
.markdown-body{
  padding: 10px;
  min-height: 280px;

}
