html {
  //全局主题颜色
  //#df6e5c
  --skin-font: #fff;
  --skin-font-active: #00BCD4;
  --skin: #30323e;
  --skin-success: #67C23A;
  --skin-warning: #E6A23C;
  --skin-danger: #F56C6C;
  --skin-info: #909399;

  //灰色
  --gray: #b5b1b1;
  --gray-dark: #e3e3e3;
  --gray-big-size: 15px;
  --gray-small-size: 10px;
}
