.my-date-picker{
  td.today span{
    color: var(--skin);
  }
  td.available:hover {
    color: var(--skin);
  }
  td.current:not(.disabled) span {
    color: #FFF;
    background-color: var(--skin);
  }
  .el-time-panel__btn.confirm {
    font-weight: 800;
    color: var(--skin);
  }
  .el-date-picker__header{
    .el-picker-panel__icon-btn:hover {
      color: var(--skin);
    }
  }
  .el-picker-panel__footer{
    .el-button--text {
      color: var(--skin);
    }
    .el-button.is-plain:focus, .el-button.is-plain:hover {
      background: #FFF;
      border-color: var(--skin);
      color: var(--skin);
    }
  }
}
