.my-el-link{

}
.my-el-link.el-link.el-link--default.is-underline{
  color: var(--skin);
}
.my-el-link.el-link.is-underline:hover:after{
  border-bottom: 1px solid var(--skin);
}
.my-el-link-skin{
  //color: #fff!important;
  :hover{
    color: var(--skin);
  }
}
