.el-pagination.is-background .el-pager li:not(.disabled).active{
  background-color: var(--skin)!important;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover{
  color: var(--skin);
}
.el-pagination .el-pagination__jump .el-input.is-active .el-input__inner, .el-input__inner:focus{
  border-color: var(--skin);
}
