.my-el-switch{
  .el-switch__label.is-active{
    color: var(--skin);
  }

}
.my-el-switch.is-checked .el-switch__core{
  border-color: var(--skin);
  background-color: var(--skin);
}
.my-el-switch .el-switch__core:after{
  background-color: var(--skin-font);
}
