.my-el-tag{
  color: var(--skin);
}
.my-el-tag.el-tag--dark{
  background-color: var(--skin);
  border-color: var(--skin);
  color: #fff;
}
.my-el-tag.el-tag--plain{
  background-color: #fff;
  border-color: var(--skin);
  color: var(--skin);
  .el-tag__close{
    color: var(--skin);
  }
  .el-tag__close:hover{
    color: #FFF;
    background-color: var(--skin);
  }
}

.my-el-tag.el-tag--dark.el-tag--warning {
  background-color: #e6a23c;
  border-color: #e6a23c;
  color: #fff;
}
.my-el-tag.el-tag--dark.el-tag--info {
  background-color: #909399;
  border-color: #909399;
  color: #fff;
}
.my-el-tag.el-tag--dark.el-tag--danger {
  background-color: #f56c6c;
  border-color: #f56c6c;
  color: #fff;
}
.my-el-tag.el-tag--dark.el-tag--success {
  background-color: #67c23a;
  border-color: #67c23a;
  color: #fff;
}
